body {
    margin: 0;
}


/* The side navigation menu */

#sidebar {
    height: 100vh;
    width: 60px;
    float: left;
    margin-right: 20px;
    text-align: center;
    -webkit-box-shadow: 2px 0 2px 0 #aaa;
    box-shadow: 2px 0 2px 0 #aaa;
}

#sidebar-menu {
    border: 1px solid black;
    margin-top: 33vh;
}

#sidebar-menu .hidden {
    display: none;
}

#sidebar-menu img {
    width: 50px;
    height: 25px;
    padding: 0 0 0 0;
}

#sidebar a {
    width: 100%;
    text-decoration: none;
    display: block;
    font-size: 10px;
    line-height: 1.75rem;
    transition: 0.3s;
    color: #F5F5F5;
    padding: 9px 0 4px 0;
}

#sidebar a:hover {
    background: #616161;
}

.hidden {
    display: none;
}

#openButton {
    line-height: 3.75rem;
    margin: 15px 0;
    width: auto;
    font-size: 2.5rem;
    position: relative;
}

#closeButton {
    line-height: 3.75rem;
    width: auto;
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav-menu {
    border: 1px solid black;
    margin-top: 33vh;
}


/* The navigation menu links */

.sidenav a {
    width: 100%;
    text-decoration: none;
    display: block;
    font-size: 25px;
    transition: 0.3s;
    color: #F5F5F5;
    padding: 9px 0 11px 50px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    background: #616161;
}


/* Position and style the close button (top right corner) */

.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    margin-left: 20px;
    transition: margin-left .5s;
    padding: 20px;
    text-align: center;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Home Section */

#home {
    margin-top: 10vh;
}

#logo {
    height: 150px;
    margin-bottom: 7.5vh;
}

.headline-text {
    position: relative;
    padding: 25px 0 0 35%;
    width: 65%;
    margin: 23px 0 0 20px;
    /* border: 1px solid orange; */
    background: #0099ff;
    text-align: left;
}

.subtitle {
    font-size: 1rem;
    color: #ddd;
    margin-top: 0;
    width: 63%;
    padding: 15px 0 25px 37%;
    box-shadow: 2px 4px 4px #888888
}